body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button{
  margin-left: 10px;
}
.padding-5{
  padding: 5px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.relative{
  position: relative;
}
.tab{
  color: #ffffff;
  float: left;
  padding: 20px;
}
.tab:hover{
  color: #f1f1f1;
}
.tabs{
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #9dccf5;
}

.clickable{
  cursor: pointer;
}

h3{margin: 0;}
h4{margin: 0;}

.popup{
  position: absolute;
  z-index: 9;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.5px rgba(0, 0, 0, 0.2);
}
.create-popup{
  min-width: 500px;
  right: 0px;
  top: 100%;

}

.list-item{
  padding: 3px;
}
.list-item:hover{
  color: #9dccf5;
}